<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Quiz</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .mb-3{
            display: flex;
        }
        label{
            width: 30%;

        }
        #canvas{
            height: 436px;
            width: 750px;
        }
        textarea{
            resize: none;
        }
        .navbar{
            padding-top: 1.5rem;
        }

    </style>
</head>
<body>
    <div id="main">
        <div id="nav">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <h5><a class="navbar-brand" href="#">QuizMaster |</a></h5>
                  
                  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top: -8px;">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/admin_dash">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/admin_quiz">Quiz</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/admin_summary">Summary</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/login">Logout</a>
                      </li>
                    </ul>
                    <!-- <form class="d-flex">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Search</button>
                      <h3 style="white-space: nowrap; margin-left: 20px;">Welcome Admin</h3>
                    </form> -->
                    <form class="d-flex" action="/search" method="post">
                        <div style="display: flex; gap: 5px;">
                          <div>
                            <input type="text" placeholder="Search" style="width: 100px; height: 24px; border-radius: 3px; padding: 2px;" title="type anything specific or '*' for All" name="string" required>
                            <br>
                            <select name="field" style="width: 100px; height: 20px; border-radius: 3px;">
                              <option value="users">Users</option>
                              <option value="chapters">Chapters</option>
                              <option value="subjects">Subjects</option>
                              <option value="quizes">Quizes</option>
                              <option value="questions">Questions</option>
                            </select>
                          </div>
                          <div>
                            <button type="submit" style="width: 29px; height: 29px; border-radius:50%;" title="search">🔍</button>
                          </div>
                        </div>
                        <h3 style="white-space: nowrap; margin-left: 20px;">Welcome Admin</h3>
                      </form>
                  </div>
                </div>
              </nav>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category in ['qae','cne'] %}
                        <div id="flash-message" role="alert" style="margin-left: 417px; position: relative;top: 25px;">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}


        <div id="canvas" style="display: flex; gap: 10px;">
            <div id="form-body" style="flex: 7;">
                <h3>Add New Quiz</h3><br>
                <form action="/add_quiz" method="post">
                    <div class="mb-3">
                        <label for="Input1" class="form-label">Chapter's ID: </label>
                        <input type="text" class="form-control" id="Input1" name="c_id">
                    </div>
                    <div class="mb-3">
                        <label for="Input2" class="form-label">Quiz Title: </label>
                        <input type="text" class="form-control" id="Input2" name="name" placeholder="formate: 'title(chapter)' e.g; Quiz1(Force)">
                    </div>
                    <div class="mb-3">
                        <label for="Input3" class="form-label">Date: </label>
                        <input type="date" class="form-control" id="Input3" name="date">
                    </div>
                    <div class="mb-3">
                        <label for="Input4" class="form-label">Duration: </label>
                        <input type="text" class="form-control" id="Input4" name="duration" placeholder="hh:mm">
                    </div>
                    <div class="mb-3">
                        <label for="Input5" class="form-label">Remark: </label>
                        <input type="text" class="form-control" id="Input5" name="remark">
                    </div>
                    <br>
                    <div style="text-align: center;">
                        <input type="submit" class="btn btn-outline-secondary" value="Save" name="action">
                        <input type="submit" class="btn btn-outline-secondary" value="Cancel" name="action">
                    </div>
                </form>
            </div>

            <div style="border: 2px solid black; height: 372px; width: 100px; flex: 3; margin: auto; overflow-y: auto; table-layout: auto;">
                <h4 style="text-align: center;padding: 3px;">ID for Chapters</h4>
                <table>
                    <thead>
                        <tr>
                            <th>Ch. ID</th>
                            <th>N a m e</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for chapter in chapters %}
                        <tr>
                            <td>{{chapter.id}}</td>
                            <td>{{chapter.name}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>    
                </table>
            </div>
        </div>
    </div>


    <script>
        setTimeout(() => document.getElementById('flash-message')?.remove(), 3000);
    </script> 

    
</body>
</html>