<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>User Dashboard</title>
      <link rel="stylesheet" href="/static/style.css">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <style>
          .navbar{
              padding-top: 1.5rem;
          }
      </style>
  </head>
  <body>
      <div id="main">
          <div id="nav">
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <div class="container-fluid">
                    <h5><a class="navbar-brand" href="#">QuizMaster |</a></h5>
                    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top: -8px;">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          <a class="nav-link" aria-current="page" href="/user_dash/{{user.id}}">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" href="#">Score</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/user_summary/{{user.id}}">Summary</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/login">Logout</a>
                        </li>
                      </ul>
                      <form class="d-flex" action="/user_search/{{user.id}}" method="post">
                        <div style="display: flex; gap: 5px;">
                          <div>
                            <input type="text" placeholder="Search" style="width: 100px; height: 24px; border-radius: 3px; padding: 2px;" title="type anything specific & '*' for All" name="string" required>
                            <br>
                            <select name="field" style="width: 100px; height: 20px; border-radius: 3px;">
                              <option value="subjects">Subjects</option>
                              <option value="chapters">Chapters</option>
                              <option value="quizes">Quizes</option>
                            </select>
                          </div>
                          <div>
                            <button type="submit" style="width: 29px; height: 29px; border-radius:50%;" title="search">🔍</button>
                          </div>
                        </div>
                        <h3 style="white-space: nowrap; margin-left: 20px;">Welcome {{user.full_name.split(" ")[0]}}</h3>
                      </form>
                    </div>
                  </div>
                </nav>
          </div>  

          <div id="user-dash-body" style="padding: 10px;">
                <br>
                <h3 style="text-align: center;">Quizzes Score</h3>
                <div id="upcoming-quiz-body">
                    {% if not quizes %}
                    <p style="text-align: center;margin: auto;margin-top: 200px;">No quizz attempted yet</p>
                    {% else %}
                    <table>
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Quiz Name</th>
                                <th>Score</th>
                                <th>Date and Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set ns = namespace(counter = 0) %}
                            {% for quiz in quizes[::-1] %}
                                {% for score in quiz.scores %}
                                {% set ns.counter = ns.counter + 1 %}
                                    <tr>
                                        <td>{{ns.counter}}</td>
                                        <td><a href="/user_quiz_read/{{user.id}}/{{ quiz.id }}">{{ quiz.title }}</a></td>
                                        <td>{{ score.total_scored }}/{{quiz.questions | length}}</td>
                                        <td>{{ score.timestamp.strftime('%d-%m-%Y   ||   %H:%M:%S') }}</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
          </div>
      </div>
    </body>
</html>